* {
    margin: 0;
    padding: 0;

}

html,
body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #dadbd5;
    display: flex;
    align-items: center;
    justify-content: center;

}

.main-container {
    display: flex;
    flex-grow: 1;
    height: 90%;
    max-width: 1000px;
    background-color: #ffffff;
    box-shadow: 0px 0px 12px -5px rgba(0, 0, 0, 1);
    border-radius: 5px;
    overflow: hidden;
}

.main-container .mc-left {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 380px;
    background-color: red;
}

.main-container .mc-left header {
    display: flex;
    justify-content: space-between;
    background-color: #eeeeee;
    padding: 15px;

}

.main-container .mc-left header img {

    width: 50px;
    border-radius: 50px;
}

.main-container .mc-left header .icons {

    display: flex;
    align-items: center;
    font-size: 35px;
    column-gap: 15px;
    color: #767676;

}

.main-container .mc-left .search {
    display: flex;
    padding: 15px;
    column-gap: 15px;
    align-items: center;
    border: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    background-color: #ffffff;

}

.main-container .mc-left .search input {

    flex: 1;
    padding: 8px;
    border: 0;
    outline: 0;

}



.main-container .mc-left .users-container {
    background-color: #ffffff;
    flex: 1;
}

.main-container .mc-left .users-container .user {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    cursor: pointer;
}

.main-container .mc-left .users-container .user:hover {

    background-color: #F1F1F1;
}

.main-container .mc-left .users-container .user .image-infos {
    display: flex;
    align-items: center;
    column-gap: 8px;


}

.main-container .mc-left .users-container .user .image-infos img {
    width: 50px;
    border-radius: 50px;
    height: 50px;

}


.main-container .mc-left .users-container .user .image-infos .name {
    font-weight: 700;
}

.main-container .mc-left .users-container .user .image-infos .message {
    color: #666;
    font-size: 14px;
}

.main-container .mc-left .users-container .user .date {
    display: flex;
    align-items: center;
    color: #666;

    font-size: 14px;
}

/*------------------------------------*/
.main-container .mc-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: green;
}

.main-container .mc-right header {
    display: flex;
    justify-content: space-between;
    background-color: #eeeeee;
    padding: 15px;

}

.main-container .mc-right header .image-infos {
    display: flex;
    align-items: center;
    column-gap: 8px;


}

.main-container .mc-right header .image-infos img {
    width: 50px;
    border-radius: 50px;
    height: 50px;

}


.main-container .mc-right header .image-infos .name {
    font-weight: 700;
}

.main-container .mc-right header .image-infos .message {
    color: #666;
    font-size: 14px;
}

.main-container .mc-right header .icons {

    display: flex;
    align-items: center;
    font-size: 35px;
    column-gap: 15px;
    color: #767676;

}

.main-container .mc-right .messages-container {
    background-color: #e3dbd8;
    padding: 15px;
    flex: 1;
}

.main-container .mc-right .messages-container .date {
    display: flex;
    justify-content: center;
}

.main-container .mc-right .messages-container .date span {
    background-color: #e8f1f9;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    align-items: center;

}



.main-container .mc-right .messages-container .message {
    margin-top: 10px;
    display: flex;
}


.main-container .mc-right .messages-container .message span {
    background-color: #ffffff;
    padding: 10px 10px 22px 10px;
    display: inline-block;
    border-radius: 5px;
    max-width: 280px;
    word-break: break-word;
    min-width: 100px;
    position: relative;
}

.main-container .mc-right .messages-container .message span::after{
content: attr(data-time);   
font-size: 10px;
color: #777;
position: absolute;
bottom: 4px;
right: 10px;

}

.main-container .mc-right .messages-container .message.message-rigth {

    justify-content: flex-end;
}

.main-container .mc-right .messages-container .message.message-rigth span {
    background-color: #e1ffc4;    

}

.main-container .mc-right footer {
    background-color: #eeeeee;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    font-size: 35px;
    align-items: center;
    column-gap: 10px;
    
}

.main-container .mc-right footer input {
    flex: 1;
    padding: 8px;
    border: 0;
    outline: 0;  
}