* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    margin: 10%;
    padding: 30px;
    width: 400px;

}

.main-container {
    flex-grow: 1;
    display: flex;
    height: 90%;
    max-width: 1000px;
    background-color: #ffffff;
    box-shadow: 0px 0px 12px -5px rgba(0, 0, 0, 1);
    border-radius: 5px;
    overflow: hidden;
}

.main-container .mc-center {

display: flex;
justify-content: space-between;

}

.main-conrtainer .mc-center style {
    flex: 1;
    align-items: center;
}


.main-container .main-container {
    height: 100%;
    width: 380px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
}


.main-container .mc-center header {
    display: flex;
    justify-content: space-between;
    display: flex;
    justify-content: space-between;
    
    padding: 10px;
    flex: 1;
    align-items: center;
}

.main-container .mc-center header .perfil {
    display: flex;
column-gap: 10PX;
display: flex;
justify-content: space-between;

padding: 10px;

}

.main-container .mc-center header .emoji {
padding-left: 35px;
}


.main-container .mc-center header img {
    display: flex;
    width: 50px;
    border-radius: 50px;
    height: 50px;
    padding: 10px;
}

.main-container .mc-center header .infos {
    padding: 10px;
}

.main-container .mc-center header .infos .nome {
    font-size: 26px;
    display: flex;
    font-weight: bold;
}

.main-container .mc-center header .icons .nome .emoji {
column-gap: 55px;
}

.main-container .mc-center header .icons .data {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #777;
    column-gap: 10%;
}


.main-container .mc-center header {
    display: flex;
    justify-content: space-between;

    padding: 10px;
}



