* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

header {
    border: 1px solid #ccc;
    width: 1px;
    font-style: solid;
}

body {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

header .image-infos img {
    border-radius: 50px;
    width: 80px;
}

header .image-infos .name {
    font-weight: 26px;

}

header .image-infos .data {
    color: #4b4b4b;
    font-size: 16px;
}

header .icons {
    font-size: 25px;
}