$fundo: rgb(240, 183, 227);
$fundo-perfil: #d9e6f6;
$header-perfil: #5c9ecf;
$fonte-clicavel: #115182;
$listras: #e4e4e4;
$fonte-sem-destaque: #989898;
$fonte-principal: rgb(73, 73, 73);
$fundo-lista-perfil: #b9d8ff;
$fonte-sem-destaque2: #555555;
$fonte-destaque: #043154;
