* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {

    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container {
    width: 400px;
    display: flex;
    min-width: 400PX;
    border: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: #ccc;
    background-color: #fff;
    padding: 30px;
}

.main-container header {
    display: flex;
}

.main-container header img {
    width: 80px;
    border-radius: 50px;
}

.main-container header .infos {
    padding: 10px;
}

.main-container header .infos .name {
    font-size: 26px;
}

.main-container header .infos .date {
    font-size: 16px;
    color: #4b4b4b;
}

.main-container header .icon {
    align-self: center;
    font-size: 25px;
    font-weight: 700;
    padding: 20px;
}