* {
    margin: 0;
    padding: 0;
}


html,
body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    background-color: #dadbd5;
    display:flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    display: flex;
    flex-grow: 1;
    height: 90%;
    max-width: 1000px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 12px -5px rgba(0, 0, 0, 1);
    border-radius: 5px;
    overflow: hidden;
}

.main-container .mc-left {
    height: 100%;
    width: 380px;
    background-color: red;
    display: flex;
    flex-direction: column;

}

.main-container .mc-left header {
    display: flex;
    justify-content: space-between;
    background-color: #eeeeee;
    padding: 15px;
}

.main-container .mc-left header img {
    width: 50px;
    border-radius: 50px;
}

.main-container .mc-left header .icons {
    display: flex;
    font-size: 35px;
    align-items: center;
    column-gap: 15px;
    color: #767676;

}

.main-container .mc-left .search {
    display: flex;
    column-gap: 15px;
    align-items: center;
    padding: 15px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #eee;
}

.main-container .mc-left .search input {
    flex: 1;
    padding: 8px;
    border: 0px;
    outline: 0px;
}

.main-container .mc-left .users-container {
    background-color: #FFFFFF;
    flex: 1;
}

.main-container .mc-left .users-container .user {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    cursor: pointer;
}

.main-container .mc-left .users-container .user:hover {
    background-color: #f1f1f1;

}

.main-container .mc-left .users-container .user .image-infos {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.main-container .mc-left .users-container .user .image-infos img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}


.main-container .mc-left .users-container .user .image-infos .infos .name {
    font-weight: 700;

}

.main-container .mc-left .users-container .user .image-infos .infos .message {
    color: #666;
    font-size: 14px;

}

.main-container .mc-left .users-container .user .date {
    display: flex;
    align-items: center;
    color: #666;
    font-size: 14px;
}

.main-container .mc-right {
    flex: 1;
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: green;
}

.main-container .mc-right header {
    display: flex;
    justify-content: space-between;
    background-color: #eeeeee;
    padding: 15px;
}

.main-container .mc-right header .image-infos {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.main-container .mc-right header .image-infos img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.main-container .mc-right header .image-infos .infos .name {
    font-weight: 700;

}

.main-container .mc-right header .image-infos .infos .message {
    color: #666;
    font-size: 14px;

}

.main-container .mc-right header .icons {
    display: flex;
    font-size: 35px;
    align-items: center;
    column-gap: 15px;
    color: #767676;

}

.main-container .mc-right .messages-container{
 background-color: #e3dbd8;
 padding: 15px;
 flex: 1;
}

.main-container .mc-right .messages-container .date{
    display: flex;
    justify-content: center;
}

.main-container .mc-right .messages-container .date span{
    background-color: #e8f1f9;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
}


.main-container .mc-right .messages-container .message{
    margin-top: 10px; 
    display:flex;
}


.main-container .mc-right .messages-container .message span{
    background-color: #FFF;
    padding: 10px 10px 22px 10px;
    display: inline-block;
    border-radius: 5px;
    max-width: 280px;
    min-width: 100px;
    word-break: break-word;
    position: relative;
}

.main-container .mc-right .messages-container .message span::after{
    content: attr(data-time);
    font-size: 13px;
    color: #767676;
    position: absolute;
    bottom: 4px;
    right: 10px;    
}

.main-container .mc-right .messages-container .message.message-right{
     justify-content: flex-end;
}

.main-container .mc-right .messages-container .message.message-right span{
    background-color: #e1ffc4; 
}

.main-container .mc-right footer{
    justify-content: space-between;
    display: flex;
    padding: 15px;
    background-color: #eeeeee;
    align-items: center;
    column-gap: 10px;
    
}

.main-container .mc-right footer input{
    
    flex: 1;
    padding: 8px;
    border: 0;
    outline: 0;
}