* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    background-color: #d5dbd6;
    display: flex;
    align-items: center;
    justify-content: center;


}

.main-container {
    display: flex;
    flex-grow: 1;
    height: 90%;
    max-width: 1000px;
    background-color: #ffffff;
    box-shadow: 0px 0px 12px -5px rgba(0, 0, 0, 1);
    border-radius: 5px;
    overflow: hidden;
}

.main-container .mc-left {
    display: flex;
    flex-direction: column;
    width: 380PX;
    height: 100%;
    background-color: red;
}

.main-container .mc-left header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    background-color: #eeeeee;

}

.main-container .mc-left header img {
    width: 50px;
    border-radius: 50px;

}

.main-container .mc-left header .icons {
    display: flex;
    font-size: 35px;
    align-items: center;
    column-gap: 15px;
    color: #767676;
    ;
}

.main-container .mc-left .search {
    display: flex;
    column-gap: 15px;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #eee;

    background-color: #fff;


}

.main-container .mc-left .search input {
    flex: 1;
    padding: 8px;
    border: 0;
    outline: 0;
}

.main-container .mc-left .users-container {
    flex: 1;
    background-color: #ffffff;

}

.main-container .mc-left .users-container .user {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    cursor: pointer;
}

.main-container .mc-left .users-container .user:hover {
    background-color: #f1f1f1;
}

.main-container .mc-left .users-container .user .image-infos {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.main-container .mc-left .users-container .user .image-infos img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.main-container .mc-left .users-container .user .image-infos .infos .name {
    font-weight: 700;

}

.main-container .mc-left .users-container .user .image-infos .infos .message {
    color: #666;
    font-size: 14Px;
}

.main-container .mc-left .users-container .user .date {
    display: flex;
    align-items: center;
    color: #666;
    font-size: 14px;
}

.main-container .mc-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: green;
}


.main-container .mc-right header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    background-color: #eeeeee;

}

.main-container .mc-right header .image-infos {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.main-container .mc-right header .image-infos img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}


.main-container .mc-rightheader .image-infos .infos .name {
    font-weight: 700;

}

.main-container .mc-right header .image-infos .infos .message {
    color: #666;
}


.main-container .mc-right header .icons {
    display: flex;
    font-size: 35px;
    align-items: center;
    column-gap: 15px;
    color: #767676;
}

.main-container .mc-right .messages-container {
    padding: 15px;
    background-color: #e3dbd8;
    flex: 1;

}

.main-container .mc-right .messages-container .date {
    display: flex;
    justify-content: center;
}

.main-container .mc-right .messages-container .date span {
    padding: 10px;
    background-color: #e8f1f9;
    display: inline-block;
    border-radius: 5px;
}


.main-container .mc-right .messages-container .message {
    margin-top: 10px;
    display: flex;
}



.main-container .mc-right .messages-container .message span {
    display: inline-block;
    position: relative;
    padding: 10px 10px 22px 10px;
    background-color: #fff;
    min-width: 100px;
    max-width: 280px;
    border-radius: 5px;
    max-width: 280px;
    word-break: break-word;
}

.main-container .mc-right .messages-container .message span::after {
    content: 'attr'(data-time);
    font-size: 10px;
    color: #777;
    position: absolute;
    bottom: 4px;
    right: 10px;
}

.main-container .mc-right .messages-container .message.message-right {
    justify-content: end;

}

.main-container .mc-right .messages-container .message.message-right span {
    background-color: #e1ffc4;
}

.main-container .mc-right footer {
    padding: 15px;
    background-color: #eeeeee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
}

.main-container .mc-right footer input {
    flex: 1;
    padding: 8px;
    border: 0;
    outline: 0;

}