* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dadbd5;
}


.main-container {
    display: flex;
    /* flex-grow: 1; */
    /* width: 80px; */
    min-width: 300px;
    background-color: #fff;
    /* box-shadow: 0px 0px 12px -5px rgba(0, 0, 0, 1); */
    border-radius: 10px;
    /* overflow: hidden; */
    border: 1px solid #ccc;
    padding: 30px;
}

.main-container header {
    display: flex;
    /* justify-content: space-between; */
}

.main-container header img {
    width: 80px;
    height: 80px;
    border-radius: 100px;
}

.main-container header {
    align-items: center;
}

.main-container header .texts {
    padding-left: 10px;
}

.main-container header .texts .nome {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    font-size: 26px;
    font-weight: bold;
    /* column-gap: 30px; */

}

.main-container header .texts .data {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    font-size: 16px;
    color: #4b4b4b;
    /* column-gap: 30px; */

}

.main-container header .emoji .emoji {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    font-size: 25px;
    font-weight: bold;
}