* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dadbd5;
}

.main-container {
    display: flex;
    flex-grow: 1;
    height: 90%;
    max-width: 1000px;
    background-color: #ffffff;
    box-shadow: 0px 0px 12px -5px rgba(0, 0, 0, 1);
    border-radius: 5px;
    overflow: hidden;
}

.main-container .mc-left {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 380px;
    background-color: red;
}

.main-container .mc-left header {
    display: flex;
    justify-content: space-between;
    background-color: #eeeeee;
    padding: 15px;
}

.main-container .mc-left header img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
}

.main-container .mc-left header .icons {
    display: flex;
    align-items: center;
    font-size: 30px;
    color: #767676;
    column-gap: 20px;
}

.main-container .mc-left .search {
    display: flex;
    padding: 15px;
    column-gap: 15px;
    align-items: center;
    /* font-size: 20px; */
    border-bottom: 2px solid #eeeeee;
    background-color: #ffffff;
}

.main-container .mc-left .search input {
    flex: 1;
    padding: 8px;
    border: 0;
    outline: 0;
}



.main-container .mc-left .users-container {
    flex: 1;
    background-color: #ffffff;
}


.main-container .mc-left .users-container .user {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    cursor: pointer
}

.main-container .mc-left .users-container .user:hover {
    background-color: #f1f1f1;
}

.main-container .mc-left .users-container .user .image-infos {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.main-container .mc-left .users-container .user .image-infos img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.main-container .mc-left .users-container .user .image-infos .infos .name {
    font-weight: bold;
}

.main-container .mc-left .users-container .user .image-infos .message {
    color: #777;
}

.main-container .mc-left .users-container .user .date {
    display: flex;
    align-items: center;
    color: #777;
}



.main-container .mc-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: green;
    /* #e3dbd8 */

}

.main-container .mc-right header {
    display: flex;
    justify-content: space-between;
    background-color: #eeeeee;
    padding: 15px;
}

.main-container .mc-right header .image-infos {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.main-container .mc-right header .image-infos img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.main-container .mc-right header .image-infos .infos .name {
    font-weight: bold;
}

.main-container .mc-right header .image-infos .message {
    color: #777;
}

.main-container .mc-right header .icons {
    display: flex;
    align-items: center;
    font-size: 25px;
    color: #767676;
    column-gap: 20px;
}

.main-container .mc-right .messages-container {
    flex: 1;
    padding: 15px;
    background-color: #e3dbd8;
}

.main-container .mc-right .messages-container .date {
    display: flex;
    justify-content: center;
}

.main-container .mc-right .messages-container .date span {
    padding: 10px;
    border-radius: 15px;
    background-color: #e8f1f9;
}

.main-container .mc-right .messages-container .message {
    display: flex;
    margin-top: 10px;
}

.main-container .mc-right .messages-container .message span {
    display: inline-block;
    padding: 10px 10px 22px 10px;
    /* padding-bottom: 16px; */
    border-radius: 5px;
    background-color: #ffffff;
    max-width: 280px;
    min-width: 9px;
    word-break: break-word;
    position: relative;
}

.main-container .mc-right .messages-container .message span::after {
    content: attr(data-time);
    color: #777;
    font-size: 12px;
    position: absolute;
    right: 4px;
    bottom: 2px;
}

.main-container .mc-right .messages-container .message.message-right {
    justify-content: end;
}

.main-container .mc-right .messages-container .message.message-right span {
    background-color: #e1ffc4
    
}

.main-container .mc-right footer {
    align-items: center;
    display: flex;
    column-gap: 10px;
    padding: 15px;
    justify-content: space-between;
    background-color: #eeeeee;
}

.main-container .mc-right footer input {
    flex: 1;
    padding: 8px;
    border: 0;
    outline: 0;
}

.main-container .mc-right .messages-container {}