* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif ;
}

body {
    background-color: #dadbd5;
}

.main-container {
    display: flex;
    height: 90%;
    max-width: 1000px;
    background-color: #ffffff;
}

.main-container .mc-left {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 100%;
    background-color: red;
}

.main-container .mc-left header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    background-color: #eeeeee;
}

.main-container .mc-left header .icons {
    font-size: 35px;
    column-gap: 15px;
    color: #767676;
    align-items: center;
    display: flex;
}

.main-container .mc-left header img {
    width: 50px;
}

.main-container .mc-left .search {
    border-bottom: 1px solid #eee;
    align-items: center;
    padding: 15px;
    column-gap: 15px;
    display: flex;
    background-color: #ffffff;
}

.main-container .mc-left .search input {
    outline: 0;
    border: 0;
    padding: 8px;
    flex: 1;
}

.main-container .mc-left .users-container {
    flex: 1;
    background-color: #ffffff;
}

.main-container .mc-left .users-container .user {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.main-container .mc-left .users-container .user .image-infos {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.main-container .mc-left .users-container .user .image-infos img {
    border-radius: 50px;
    width: 50px;
}

.main-container .mc-left .users-container .user .image-infos .infos{

}

.main-container .mc-left .users-container .user .image-infos .infos .name{
    font-weight: 700;

}

.main-container .mc-left .users-container .user .image-infos .infos .message{
    color: 666;
    font-size: 14px;

}

.main-container .mc-left .users-container .user .date {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: 666;
}

.main-container .mc-left .users-container .user:hover{
    background-color: #f1f1f1;
}

.main-container .mc-right {
    flex: 1;
    height: 100%;
    background-color: green;
}