* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.main-container {
    width: 400px;
    padding: 30px;
    border: 1px solid #ccc;
    display: flex;
    min-width: 400px;
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    justify-content: space-between
}

.main-container .mc-left {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.main-container .mc-left img {
    width: 80px;
    border-radius: 50px;
    height: 80px;
}

.main-container .mc-left .infos {}

.main-container .mc-left .infos .name {
    font-size: 26px;
}
.main-container .mc-left .infos .data{
    font-size: 16px;
    color:#4b4b4b
}

.main-container .mc-rigth {
    font-size: 26px;

}

.main-container .mc-rigth {}

.main-container .mc-rigth .icon {

    display: flex;
    align-self: center;
    font-size: 25px;
    font-weight: 700;
    padding: 20px;
    
}