* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #181515;

}

.main-container {
    flex-grow: 1;
    display: flex;
    height: 90%;
    max-width: 1000px;
    background-color: #ffffff;
    box-shadow: 0px 0px 12px -5px rgba(0, 0, 0, 1);
    border-radius: 5px;
    overflow: hidden;
}

.main-container .mc-left {
    height: 100%;
    width: 380px;
    background-color: red;
    display: flex;
    flex-direction: column;

}

.main-container .mc-left header {
    display: flex;
    justify-content: space-between;
    background-color: #eeeeee;
    padding: 10px;
}

.main-container .mc-left header img {
    width: 50px;
    border-radius: 50px;
}

.main-container .mc-left header .icons {
    display: flex;
    align-items: center;
    font-size: 35px;
    color: #767676;
    column-gap: 15px;
}

.main-container .mc-left .search {
    background-color: #fff;
    display: flex;
    padding: 15px;
    border-bottom: 1px solid #eeeeee;
    column-gap: 15px;
    align-items: center;
}

.main-container .mc-left .search input {
    flex: 1;
    padding: 8px;
    border: 0;
    outline: 0;
}

.main-container .mc-left .users-container {
    flex: 1;
    padding: 8px;
    border: 0;
    outline: 0;
    background-color: #fff;
}


.main-container .mc-left .users-container {
    background-color: #fff;
}

.main-container .mc-left .users-container .users {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    cursor: pointer;
}

.main-container .mc-left .users-container .users:hover {
    background-color: #f1f1f1;

}

.main-container .mc-left .users-container .users .infos .name {
    font-size: small;
    font-weight: bold;
}

.main-container .mc-left .users-container .users .infos .massage {
    font-size: 14px;
    color: #777;
}

.main-container .mc-left .users-container .users .date {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #777;
}

.main-container .mc-left .users-container .users .image-infos {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.main-container .mc-left .users-container .users .image-infos img {
    width: 50px;
    border-radius: 50px;
    height: 50px;
}



.main-container .mc-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: green;

}



.main-container .mc-right header {
    display: flex;
    justify-content: space-between;
    background-color: #eeeeee;
    padding: 10px;
}

.main-container .mc-right header .image-infos {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.main-container .mc-right header .image-infos img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.main-container .mc-right header .image-infos .name {
    font-weight: bold;
}

.main-container .mc-right header .image-infos .massage {
    background-color: white;
}


.main-container .mc-right header .icons {
    display: flex;
    align-items: center;
    font-size: 35px;
    color: #767676;
    column-gap: 15px;
}

.main-container .mc-right .massage-container {
    flex: 1;
    padding: 15px;
    background-color: #e3dbd8;
}

.main-container .mc-right .massage-container .date {
    display: flex;
    justify-content: center;
}

.main-container .mc-right .massage-container .date span {
    background-color: #e8f1f9;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
}

.main-container .mc-right .massage-container .massage {
    margin-top: 30px;
    display: flex;
}

.main-container .mc-right .massage-container .massage span {
    background-color: #fff;
    padding: 10px 10px 22px 10px;
    display: inline-block;
    border-radius: 5px;
    max-width: 280px;
    word-break: break-word;
    min-width: 75px;
    position: relative;

}
.main-container .mc-right .massage-container .massage span::after{

color: #767676;
content: '00:00';
right: 2px;
font-size: 12px;
position: absolute;
bottom: 2px;

}

.main-container .mc-right .massage-container .massage.massage-right {
    margin-top: 10px;
    justify-content: end;
}

.main-container .mc-right .massage-container .massage.massage-right span {
    background-color: #e1ffc4;

}

.main-container .mc-right footer {
    column-gap: 10px;
    align-items: center;
    padding: 15px;
    background-color: #eeeeee;
    justify-content: space-between;
    display: flex;
}

.main-container .mc-right footer input {
    flex: 1;
    padding: 8px;
    border: 0;
    outline: 0; 
}
