* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;

}

header{
    border: 1px solid #ccc;
   font-style: solid;
   padding: 45px;

}

header .image-infos {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

header .image-infos img {
    width: 80px;
    border-radius: 50px;
    height: 50px;
}

header .image-infos .name {
    font-weight: 26px;
}

header .image-infos .data {
    color: #4b4b4b;
    font-size: 16px;
}

header .emoji {
    font-size: 25px;
}