* {
    margin: 0;
    padding: 0;
  
  } 
  
  html,
  body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    background-color: #eaeaea;
  }
  
  .main-container { 
      background-color: #f5f5f5;
      padding: 30px;
      border: 1px solid #CCC;
      border-radius: 10px;
      min-width: 400px;
  }
   
  .main-container header{
   display: flex;
   align-items: center; 
   width: 100%;
  
  }
  
  .main-container header img {
    height: 90px;
    width: 80px;
    border-radius: 50%;
   
  }
  
  .main-container header .info{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    flex-grow: 1;
  
  }
  
  .main-container header .info .name{
     font-size: 26px;
     font-weight: bold;
  }
  
  .main-container header .info .date{
     font-size: 16px;
     color: #4b4b4b;
  }
  
  .main-container header .icons{
    font-size: 25px;
    font-weight: bold;
    margin-right: 30px;

  }