* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #eaeaea;

}

.Main-container {
    background-color: #f5f5f5;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    min-width: 400px;

}


.Main-container header {
    width: 100%;
    display: flex;
    align-items: center;

}

.Main-container header img {
    border-radius: 50%;
    width: 80px;
    height: 80px;

}

.Main-container header .Info {
    margin-left: 10px;
    flex-grow: 1;
}

.Main-container header .Info .Name {
    font-size: 26px;
    font-weight: bold;
}

.Main-container header .Info .Data {
    font-size: 16px;
    color: #4b4b4b;
}

.Main-container header .emoji {
    font-size: 25px;
    font-weight: bold;
    margin-left: 30px;
}