*{
    border: none;
    margin: none;
    padding: none;
}

html, body{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.main-container{
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 30px;
    width: 400px;
    min-width: 400px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.main-container .user{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.main-container .user .nome-data .nome{
    font-size: 26px;
    font-weight: bold;
}

.main-container .user .nome-data .data{
    font-size: 16px;
    color:#4b4b4b;
}

.main-container .user img{
    width: 80px;
    border-radius: 50px;
}

.main-container .right-icon{
    font-size: 25px;
    font-weight: bold;

}