/*
Error: Invalid CSS after "	display: none": expected "{", was ";"
        on line 26 of C:\xampp\htdocs\desi2023_01\Pedro Zimermann\20240806_admin-template\assets\css\style.scss

21: <<<<<<< Updated upstream
22: .hide{
23: =======
24: .hide {
25: >>>>>>> Stashed changes
26: 	display: none;
27: }
28: 
29: .align-center {
30: 	margin-left: auto;
31: 	margin-right: auto;

Backtrace:
C:\xampp\htdocs\desi2023_01\Pedro Zimermann\20240806_admin-template\assets\css\style.scss:26
C:/Users/pedro_h_paiva/Documents/Koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1278:in `expected'
C:/Users/pedro_h_paiva/Documents/Koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1208:in `expected'
C:/Users/pedro_h_paiva/Documents/Koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1203:in `tok!'
C:/Users/pedro_h_paiva/Documents/Koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:677:in `block'
C:/Users/pedro_h_paiva/Documents/Koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:747:in `declaration_or_ruleset'
C:/Users/pedro_h_paiva/Documents/Koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:697:in `block_child'
C:/Users/pedro_h_paiva/Documents/Koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:686:in `block_contents'
C:/Users/pedro_h_paiva/Documents/Koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:678:in `block'
C:/Users/pedro_h_paiva/Documents/Koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:747:in `declaration_or_ruleset'
C:/Users/pedro_h_paiva/Documents/Koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:697:in `block_child'
C:/Users/pedro_h_paiva/Documents/Koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:686:in `block_contents'
C:/Users/pedro_h_paiva/Documents/Koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:678:in `block'
C:/Users/pedro_h_paiva/Documents/Koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:670:in `ruleset'
C:/Users/pedro_h_paiva/Documents/Koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:696:in `block_child'
C:/Users/pedro_h_paiva/Documents/Koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:689:in `block_contents'
C:/Users/pedro_h_paiva/Documents/Koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:137:in `stylesheet'
C:/Users/pedro_h_paiva/Documents/Koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:41:in `parse'
C:/Users/pedro_h_paiva/Documents/Koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:414:in `_to_tree'
C:/Users/pedro_h_paiva/Documents/Koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:290:in `render'
C:/Users/pedro_h_paiva/Documents/Koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:400:in `run'
C:/Users/pedro_h_paiva/Documents/Koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:63:in `process_result'
C:/Users/pedro_h_paiva/Documents/Koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:52:in `parse'
C:/Users/pedro_h_paiva/Documents/Koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:19:in `parse!'
C:/Users/pedro_h_paiva/Documents/Koala/Koala/rubygems/gems/sass-3.5.2/bin/sass:13:in `<top (required)>'
C:/Users/pedro_h_paiva/Documents/Koala/Koala/bin/sass:22:in `load'
C:/Users/pedro_h_paiva/Documents/Koala/Koala/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"	display: none\": expected \"{\", was \";\"\A         on line 26 of C:\xampp\htdocs\desi2023_01\Pedro Zimermann\20240806_admin-template\assets\css\style.scss\A \A 21: <<<<<<< Updated upstream\A 22: .hide{\A 23: =======\A 24: .hide {\A 25: >>>>>>> Stashed changes\A 26: 	display: none;\A 27: }\A 28: \A 29: .align-center {\A 30: 	margin-left: auto;\A 31: 	margin-right: auto;"; }
