/*
Error: Invalid CSS after "				color: #b4bed2": expected "{", was ";"
        on line 381 of C:\xampp\htdocs\desi2023_01\Pedro Zimermann\20240806_admin-template\assets\css\style.scss

376: 			select,
377: 			textarea {
378: =======
379: 			input, select, textarea {
380: >>>>>>> Stashed changes
381: 				color: #b4bed2;
382: 				font-size: 16px;
383: 				width: 100%;
384: 				padding: 10px 15px;
385: 				background-color: #283142;
386: 				background-image: none;

Backtrace:
C:\xampp\htdocs\desi2023_01\Pedro Zimermann\20240806_admin-template\assets\css\style.scss:381
C:/Users/pedro_h_paiva/Documents/Koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1278:in `expected'
C:/Users/pedro_h_paiva/Documents/Koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1208:in `expected'
C:/Users/pedro_h_paiva/Documents/Koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1203:in `tok!'
C:/Users/pedro_h_paiva/Documents/Koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:677:in `block'
C:/Users/pedro_h_paiva/Documents/Koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:747:in `declaration_or_ruleset'
C:/Users/pedro_h_paiva/Documents/Koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:697:in `block_child'
C:/Users/pedro_h_paiva/Documents/Koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:686:in `block_contents'
C:/Users/pedro_h_paiva/Documents/Koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:678:in `block'
C:/Users/pedro_h_paiva/Documents/Koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:747:in `declaration_or_ruleset'
C:/Users/pedro_h_paiva/Documents/Koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:697:in `block_child'
C:/Users/pedro_h_paiva/Documents/Koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:686:in `block_contents'
C:/Users/pedro_h_paiva/Documents/Koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:678:in `block'
C:/Users/pedro_h_paiva/Documents/Koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:747:in `declaration_or_ruleset'
C:/Users/pedro_h_paiva/Documents/Koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:697:in `block_child'
C:/Users/pedro_h_paiva/Documents/Koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:689:in `block_contents'
C:/Users/pedro_h_paiva/Documents/Koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:678:in `block'
C:/Users/pedro_h_paiva/Documents/Koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:747:in `declaration_or_ruleset'
C:/Users/pedro_h_paiva/Documents/Koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:697:in `block_child'
C:/Users/pedro_h_paiva/Documents/Koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:686:in `block_contents'
C:/Users/pedro_h_paiva/Documents/Koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:678:in `block'
C:/Users/pedro_h_paiva/Documents/Koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:747:in `declaration_or_ruleset'
C:/Users/pedro_h_paiva/Documents/Koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:697:in `block_child'
C:/Users/pedro_h_paiva/Documents/Koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:689:in `block_contents'
C:/Users/pedro_h_paiva/Documents/Koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:678:in `block'
C:/Users/pedro_h_paiva/Documents/Koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:670:in `ruleset'
C:/Users/pedro_h_paiva/Documents/Koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:696:in `block_child'
C:/Users/pedro_h_paiva/Documents/Koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:689:in `block_contents'
C:/Users/pedro_h_paiva/Documents/Koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:137:in `stylesheet'
C:/Users/pedro_h_paiva/Documents/Koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:41:in `parse'
C:/Users/pedro_h_paiva/Documents/Koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:414:in `_to_tree'
C:/Users/pedro_h_paiva/Documents/Koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:389:in `_render_with_sourcemap'
C:/Users/pedro_h_paiva/Documents/Koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:307:in `render_with_sourcemap'
C:/Users/pedro_h_paiva/Documents/Koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:391:in `run'
C:/Users/pedro_h_paiva/Documents/Koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:63:in `process_result'
C:/Users/pedro_h_paiva/Documents/Koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:52:in `parse'
C:/Users/pedro_h_paiva/Documents/Koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:19:in `parse!'
C:/Users/pedro_h_paiva/Documents/Koala/Koala/rubygems/gems/sass-3.5.2/bin/sass:13:in `<top (required)>'
C:/Users/pedro_h_paiva/Documents/Koala/Koala/bin/sass:22:in `load'
C:/Users/pedro_h_paiva/Documents/Koala/Koala/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"				color: #b4bed2\": expected \"{\", was \";\"\A         on line 381 of C:\xampp\htdocs\desi2023_01\Pedro Zimermann\20240806_admin-template\assets\css\style.scss\A \A 376: 			select,\A 377: 			textarea {\A 378: =======\A 379: 			input, select, textarea {\A 380: >>>>>>> Stashed changes\A 381: 				color: #b4bed2;\A 382: 				font-size: 16px;\A 383: 				width: 100%;\A 384: 				padding: 10px 15px;\A 385: 				background-color: #283142;\A 386: 				background-image: none;"; }
