* {
    padding: 0;
    margin: 0;
}

html, body {

    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dadbd5;
}

.main-container {
    flex-grow: 1;
    display: flex;
    background-color: #ffffff;
    max-width: 1000px;
    height: 90%;
    box-shadow: 0px 0px 12px -5px rgba(0, 0, 0, 1);
    border-radius: 2px;
    overflow: hidden;
}

.main-container .mc-left {
    display: flex;
    flex-direction: column;
    /*Muda o direcionamento do Flex para linha*/
    width: 380px;
    height: 100%;
    background-color: red;
}


.main-container .mc-left header {
    display: flex;
    padding: 15px;
    background-color: #eee;
    justify-content: space-between;
    /*ALinhamento Horizontal*/
}

.main-container .mc-left header img {  
    width: 55px;
    height: 55px;
    border-radius: 100%;
}

.main-container .mc-left header .icons {
    display: flex;
    font-size: 35px;
    color: #767676;
    align-items: center;
    /*Alinhamento Vertical*/
    column-gap: 15px;
}


.main-container .mc-left .search {
    background-color: #fff;
    align-items: center;
    column-gap: 15px;
    padding: 15px;
    display: flex;
    border-bottom: 1px solid #eee;
}

.main-container .mc-left .search input {
    flex: 1;
    padding: 8px;
    border: 0;
    outline: 0;

}

.main-container .mc-left .users-container {
    background-color: #fff;
    flex: 1;
}

.main-container .mc-left .users-container .user {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eee;
}

.main-container .mc-left .users-container .user:hover{
    background-color: #f1f1f1;
    cursor: pointer;
}

.main-container .mc-left .users-container .user .image-infos {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.main-container .mc-left .users-container .user .image-infos img {
    align-content: center;   
    height: 55px;
    width: 50px;
    border-radius: 100%;
}


.main-container .mc-left .users-container .user .image-infos .infos{
   
}

.main-container .mc-left .users-container .user .image-infos .infos .name {
    font-weight: 700;
}

.main-container .mc-left .users-container .user .image-infos .infos .message {
    margin-top: 4px;
    font-size: 14px;
    color: #666;
}

.main-container .mc-left .users-container .user .date {
    display: flex;
    font-size: 14px;
    align-items: center;
    color: #666;
}


.main-container .mc-right {
    flex: 1; /*Ocupa todo o espaço restante*/
    height: 100%;
    background-color: green;
    display: flex;
    flex-direction: column;
}

.main-container .mc-right header{
    display: flex;
    padding: 15px;
    background-color: #eee;
    justify-content: space-between;   
}

.main-container .mc-right header .image-infos {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.main-container .mc-right header .image-infos img {
    align-content: center;
    
    height: 55px;
    width: 50px;
    border-radius: 100%;
}

.main-container .mc-right header .image-infos .infos .name {
    font-weight: 700;
}

.main-container .mc-right header .image-infos .infos .message {
    font-size: 14px;
    margin-top: 4px;
    color: #666;
}

.main-container .mc-right header .icons {
    display: flex;
    font-size: 35px;
    color: #767676;
    align-items: center;
    /*Alinhamento Vertical*/
    column-gap: 15px;
}

.main-container .mc-right header .icons .link{
    font-size: 30px;
}

.main-container .mc-right .message-container {
    padding: 15px;
    background-color: #e3dbd8;
    flex: 1;
}

.main-container .mc-right .message-container .date {
    display: flex;
    justify-content: center;
}

.main-container .mc-right .message-container .date span {
    background-color: #eBf1f9;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
}

.main-container .mc-right .message-container .message {
    display: flex;
    margin-top: 5px;
}

.main-container .mc-right .message-container .message span{
    position: relative;
    background-color: #fff;
    padding: 10px 10px 22px 10px;
    border-radius: 5px;
    display: inline-block;
    max-width: 280px;
    word-break: break-word; /*Quebra a linha quando passar o limite*/
    min-width: 100px;
} 

.main-container .mc-right .message-container .message span:after{
    content: attr(data-time);
    font-size: 13px;
    color: #777;
    position: absolute;
    padding: 0px 5px 2px 0px;   
    bottom: 0;
    right: 0;
}

.main-container .mc-right .message-container .message.message-right {
    justify-content: end;
}

.main-container .mc-right .message-container .message.message-right span{
    background-color: #e1ffc4;
}



.main-container .mc-right footer {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #eeeeee;
}

.main-container .mc-right footer .icon-emoji{
    font-size: 35px;    
    padding-right: 10px;
    color: #666;
}

.main-container .mc-right footer .icon-micro{
    
    font-size: 25px;
    padding-left: 5px;
    
}
.main-container .mc-right footer input{
    border-radius: 10px;
    flex: 1;
    padding: 8px;
    border: 0;
    outline: 0;
}