*{
    font-family: Arial, Helvetica, sans-serif;

}

html, body {
    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-principal{
    display: flex; 
    justify-content: center;         
}

.container-principal .perfil  {
   
    min-width: 400px;   
    display: flex;
    padding: 30px;
    border-radius: 15px;
    border: 1px solid  #ccc;
    justify-content: space-between;
    align-items: center;
}

.container-principal .perfil .informacoes-perfil img{   
    height: 80px;
    width: 80px;
    border-radius: 100%;
    padding: 10px;
}

.container-principal .perfil .informacoes-perfil{
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.container-principal .perfil .informacoes-perfil .nome-data {
    padding: 10px;
    
    
}

.container-principal .perfil .informacoes-perfil .nome-data .nome{
    font-size: 26px;
    font-weight: bold;
}

.container-principal .perfil .informacoes-perfil  .nome-data .data{
    font-size: 16px;
    color: #4b4b4b;
}

.container-principal .perfil  .emoji {
    padding: 30px;
    font-size: 25px;
    font-weight: bold;
}